*{
    margin:0;
    font-family: Arial;
    border: border-box;  
}

.navbar{
    background-color:white;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: grey;
}

.nav-dev-logo i{
    font-size: 45px;
    width: auto;
}

.threedots{
    font-size: 35px;
}

.navsearch{
    display: flex; 
    width: 500px;
    height: 40px;
    border-radius: 5px; 
    background-color:white;
    border: 1px solid gray;
}

.search-select{
    background-color: white;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 4px;
    border-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3 rem;
  
    border-top-right-radius: 5px;  
    border-bottom-left-radius: 5px;
    color: #0f1111;
}

.search-icon:hover{
    background-color:whitesmoke;
}

.nav-login{
    background-color: white;
    height: 40px;
    width: 60px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-login:hover{
    background-color: rgb(207, 228, 228);
   text-decoration: underline;
   color: blue;
}

.nav-create{
    background-color: white;
    height: 40px;
    width: 150px;
    border: blue;
    color: blue;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-create:hover{
    background-color:blue;
   text-decoration: underline;
   color:white;
}

.main{
    background-color: rgb(219, 215, 215);
    width: 100%;
    height: 1200px;
    
}

.aside-left{
    background-color: rgb(219, 215, 215);
    position:fixed ;
    width: 20%;
    height: 1200px;
    margin-top: 60px;
}

.icons{
    width: 100px;
    height: 400px;
    background-color:  rgb(219, 215, 215);
    float: right;
    margin-top: 40%;
    display: grid;
    justify-content: space-evenly;

}

.single-icons{
    height: 64px;
    width: 63px;
    background-color:  rgb(219, 215, 215);
    display: grid;
    justify-content: space-evenly;
    margin-top: 15px;
    
}

.only-icons i{
font-size: 2rem;

}

.only-icons{
    height: 40px;
    width: 40px;
    background-color: rgb(219, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center; 
    border: none;
}

.only-icons:hover{
    color: red;
}

.ellipsis:hover{
    border-radius: 100%;
    background-color: rgb(146, 141, 141);
    color: black;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: white;
    width: 200px;
    border-radius: 5px;
   
  }

  .dropdown-options a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
