*{
    margin:0;
    font-family: Arial;
    border: border-box;  
}

.navbar{
    background-color:white;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: grey;
    z-index: 1000;
    
}

.nav-dev-logo i{
    font-size: 45px;
    width: auto;
}

.threedots{
    font-size: 35px;
}

.navsearch{
    display: flex; 
    width: 500px;
    height: 40px;
    border-radius: 5px; 
    background-color:white;
    border: 1px solid gray;
}

.search-select{
    background-color: white;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 4px;
    border-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3 rem;
  
    border-top-right-radius: 5px;  
    border-bottom-left-radius: 5px;
    color: #0f1111;
}

.search-icon:hover{
    background-color:whitesmoke;
}

.nav-login{
    background-color: white;
    height: 40px;
    width: 60px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-login:hover{
    background-color: rgb(207, 228, 228);
   text-decoration: underline;
   color: blue;
}

.nav-create{
    background-color: white;
    height: 40px;
    width: 150px;
    border: blue;
    color: blue;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-create:hover{
    background-color:blue;
   text-decoration: underline;
   color:white;
}

.main{
    background-color: rgb( 245, 245, 245 );
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    

    
}

 .aside-left{
    background-color: rgb( 245, 245, 245 );
    position:fixed ;
    width: 10%;
    top: 60px;
    bottom: 0px;
    overflow-y: auto;
    float: left;
}

.icons{
    width: 100px;
    height: 400px;
    background-color: rgb( 245, 245, 245 );
    float: right;
    margin-top: 40%;
    display: grid;
    justify-content: space-evenly;

}

.single-icons{
    height: 64px;
    width: 63px;
    background-color: rgb( 245, 245, 245 );
    display: grid;
    justify-content: space-evenly;
    margin-top: 15px;
    
}

.only-icons i{
font-size: 2rem;

}

.only-icons{
    height: 40px;
    width: 40px;
    background-color: rgb( 245, 245, 245 );
    display: flex;
    justify-content: center;
    align-items: center; 
    border: none;
}

.only-icons:hover{
    color: red;
}

.ellipsis:hover{
    border-radius: 100%;
    background-color: rgb(146, 141, 141);
    color: black;
}

.dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: white;
    width: 200px;
    border-radius: 5px;
   
  }

  .dropdown-options a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  } 


.column {
    
    height: 1200px; 
    margin-top: 70px;
    justify-content:center;
    margin-right: 1rem;
    display: flex;
  }
 
  
  .middle {
    width: 65%;
    background-color: white;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    margin-left: 11%;
  }

  .main-body-headin{
    background-color: blue;
    width: 40px;
    height: 100px;

}

  .right {
    width: 30%;
    background-color: rgb( 245, 245, 245 );
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    display: block;
    /* float: right;  */
  }

  .aside-section-1{
    background-color: rgb(255, 255, 255);
    max-width: 60%;
    height: 500px;
    border-radius:20px ;
    border-top: 40px solid #3ed0b3;
    position: relative;
    
    
}

.name-logo{
    height: 40px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}

.logo-only{
    height: 68px;
    width: 68px;
    border-radius:100%;
    background-color: white;
    background-image: url(albums/metamask.png);
    background-size: cover;
    margin-bottom: 30px;
    
}

.name-only{
    height: 40px;
    width: 70%;
    margin-top: 15px;
}

.name-only p{
    text-align: left;
    font-size:xx-large;
    font-weight: 600;
}

.name-only:hover{
    color:#2f3ab2 ;
}

.main-follow-bu{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.follow-button{
    margin-top: 20px;
    position: relative;
    background-color:#4651c4;
    height: 40px;
    width: 90%;
    border-radius: 6px;
}

.follow-button:hover{
    opacity: 97%;
}

.follow-button p{
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
    font-size: large;
    color: white;
}
.about{
    height: 150px;
    width: 90%;
    position: relative;
}

.about p{ 
    font-size: larger;
    color: #575757;
    word-break: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center-ok{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

 .details-right{
    margin-top: 20px;
    position: relative;

} 

.inner-details-right{
    height: 150px;
    width: 100%;
    list-style:none;
    margin: 5%;
    padding: 0;
    
    
}

li{
    height: 42px;
    width: 90%;
    margin-bottom: 20px;
    text-align: left;
    color: #575757;

}

.key{
    height: 18px;
    font-weight:bold;
    font-size: larger;
}

.value{
    height: 24px;
    font-weight: 300;
    font-size: large;
}


 